<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Face Recognition</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="assets/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">Face Recognition</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">


            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Utama</div>
                        <a class="nav-link" href="{{ url_for('index') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Pengaturan</div>
                        <a class="nav-link" href="{{ url_for('upload_image') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user fa-fw"></i></div>
                            Daftar
                        </a>
                        <a class="nav-link" href="{{ url_for('history') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            History
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Administrator
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <!-- <li class="breadcrumb-item active">Dashboard</li> -->
                    </ol>
                    <div class="row mb-4">
                    <div class="col">
                        <a href="{{ url_for('shutdown') }}"  class="btn btn-outline-primary">Turn On/Off</a>
                        <!-- <button type="button" >Turn On/Off</button> -->
                    </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <!-- <i class="fas fa-chart-area me-1"></i> -->
                                    LIVE CAM
                                </div>
                                <div class="card-body">
                                    <img class="rounded mx-auto d-block" id="livecam" src="{{ url_for('video_feed') }}"
                                        alt="Girl in a jacket" width="480">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <!-- <i class="fas fa-chart-bar me-1"></i> -->
                                    DETEKSI
                                </div>
                                <div class="card-body">
                                    <h4 id="output" class="text-center">-</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Ilham Natsir 2023</div>
                        <div>
                            <!-- <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a> -->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/assets/demo/chart-area-demo.js"></script>
    <script src="assets/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="assets/js/datatables-simple-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        function push_notif() {
            // create ajax
            $.ajax({
                url: 'http://127.0.0.1:5000/pushnotif', // Replace with your ajax url
                type: 'GET',
                dataType: 'json',
                beforeSend: function (xhr) {
                    // Do something before sending request
                },
                success: function (data) {
                    document.getElementById("output").innerHTML = JSON.stringify(data);
                    // alert('Data: '+data);
                    console.log(data)
                },
                error: function (request, error) {
                    // console.log("Request: " + JSON.stringify(request)); // Error callback
                }
            });
        }
        push_notif()
        setInterval(push_notif, 5000);
    </script>

    <script>
        function set_name() {
            // create ajax
            $.ajax({
                url: 'http://127.0.0.1:5000/setname', // Replace with your ajax url
                type: 'GET',
                dataType: 'json',
                beforeSend: function (xhr) {
                    // Do something before sending request
                },
                success: function (data) {
                    document.getElementById("output").innerHTML = JSON.stringify(data);
                    // alert('Data: '+data);
                    console.log(data)
                },
                error: function (request, error) {
                    // console.log("Request: " + JSON.stringify(request)); // Error callback
                }
            });
        }
        set_name()
        setInterval(set_name, 3000);
    </script>
</body>

</html>